/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

.form-control-full {
    border: 1px dashed #dddddd !important;
    border-radius: 0 !important;
    box-shadow: unset !important;

}